
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Azeret Mono;
    font-weight: 400;
    
}
.future-developer-container{
    max-width: 1340px;
    height: 720px;
    margin: 0 auto;
    
}
.future-developer-nav{
    max-width: 1340px;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.future-developer-nav p{
   
    font-size: 22px;
    padding-left: 100px;
}
.future-developer-nav .btn{
    width: 220px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: black;
    
    font-size: 16px;
     margin-right: 70px;
    border: 2px solid black;
    padding-left: 5px;
}
.future-developer-container-tittle{
    max-width: 1340px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    

}
.future-developer-container-tittle img{
    height: 245px;
    width: 245px;
    margin-bottom: 25px;
    
   
}
.future-developer-container-tittle h1{
    font-size: 34px;
    margin-bottom: 20px;
   
}

span{
    margin-left: 330px;
   
}
.future-developer-container-tittle p{
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 35px;
    font-weight: 400;
    opacity: 0.7;
    
}
.future-developer-container-tittle-subtittle h1{
    width: 225px;
    height: 63px;
    color: white;
    margin-bottom: 500px;
    
    background-color: #0D1321;
    padding:15px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-left: 540px;
    margin-bottom: 1100px;
    margin: 0 auto;

}
/* why-web-development */
.why-web-development{
    width: 1080px;
    height: 1380px;
   
    margin: 0 auto;
    margin-top:50px;
    border-radius: 10px;

background: rgba(13, 19, 33, 0.02);
}
.why-web-development-section{
    width: 910px;
    height: 1200px;
    
    margin: 90px;
    
}
.why-web-development-container{
    width: 910px;
    height: 150px;
    
}
.why-web-development-container h1{
    padding-left: 250px;
    font-size: 32px;
    color: #0D1321;
}
.why-web-development-container p{
   padding-left: 55px;
   font-size: 18px;
   opacity: 0.7;
   font-weight: 400;
}
.why-web-development-container p span{
  margin-left: 250px;
}
.why-web-development-tittle{
    width: 910px;
    height: 310px;
    
    margin-top: 40px;
    
}
.why-web-development-tittle-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 844px;
    height: 250px;
    margin: 30px;
}
.why-web-development-tittle-content-1{
   
    padding-top: 15px;
   
    
}
.why-web-development-tittle-content-1 h1{
    color: rgba(13, 19, 33, 0.7);
}
.why-web-development-tittle-content-1 p{
   padding-top: 30px;
   font-size: 17px;
   color: #0D1321;
   opacity: 0.7;
}
.why-web-development-tittle-content-1 p1{
    border: 2PX solid black;
    padding: 10px;
    width: 148px;
    height: 65px;
    font-size: 20px;
    opacity: 0.7;
}


.why-web-development-subtittle{
    width: 910px;
    height: 310px;
   
    margin-top: 40px;
}
.why-web-development-subtittle-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 844px;
    height: 250px;
    margin: 30px;
}


.why-web-development-subtittle-container-1{
   
    padding-top: 20px;
    padding-left: 15px;
}
.why-web-development-subtittle-container-1 h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 26px;
}
.why-web-development-subtittle-container-1  p{
    padding-top: 30px;
   font-size: 16px;
   color: #0D1321;
   opacity: 0.7;
}
.why-web-development-subtittle-container-1  p1{
    border: 2PX solid black;
    padding: 10px;
    width: 148px;
    height: 65px;
    font-size: 20px;
    opacity: 0.7;
}
.why-web-development-content{
    width: 910px;
    height: 310px;
    
    margin-top: 40px;
}

.why-web-development-content-container{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 844px;
    height: 250px;
    margin: 30px
}

    

.why-web-development-content-container-holy h1{
    color: rgba(13, 19, 33, 0.7);
    padding-top: 10px;
}
.why-web-development-content-container-holy p{
    padding-top: 30px;
    font-size: 17px;
    color: #0D1321;
    opacity: 0.7;
}
.why-web-development-content-container-holy p1{
    border: 2PX solid black;
    padding: 10px;
    width: 148px;
    height: 65px;
    font-size: 20px;
    opacity: 0.7;
}
