
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Azeret Mono;
    font-weight: 400;
    
}
.future-developer-container{
    max-width: 1340px;
    height: 720px;
    margin: 0 auto;
    
}
.future-developer-nav{
    max-width: 1340px;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.future-developer-nav p{
   
    font-size: 22px;
    padding-left: 100px;
}
.future-developer-nav .btn{
    width: 220px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: black;
    opacity: 0.8;
    font-size: 16px;
     margin-right: 70px;
    border: 2px solid black;
    padding-left: 5px;
}
.future-developer-container-tittle{
    max-width: 1340px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    
}
.future-developer-container-tittle img{
    height: 245px;
    width: 245px;
    margin-bottom: 25px;
    
}
.future-developer-container-tittle h1{
    font-size: 34px;
    margin-bottom: 20px;
  
}

.future-developer-container-tittle p{
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 35px;
    font-weight: 400;
    opacity: 0.7;
    
}
.future-developer-container-tittle-subtittle h1{
    width: 225px;
    height: 63px;
    color: white;
    margin-bottom: 500px;
    
    background-color: #0D1321;
    padding:15px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-left: 540px;
    margin-bottom: 1100px;
    margin: 0 auto;

}
/* why-web-development */
.why-web-development{
    width: 1080px;
    height: 1380px;
   
    margin: 0 auto;
    margin-top:50px;
    border-radius: 10px;

background: rgba(13, 19, 33, 0.02);
}
.why-web-development-section{
    width: 910px;
    height: 1200px;
    
    margin: 90px;
    
}
.why-web-development-container{
    width: 910px;
    height: 150px;
    
}
.why-web-development-container h1{
    padding-left: 250px;
    font-size: 32px;
    color: #0D1321;
    padding-top: 30px;
}
.why-web-development-container p{
   padding-left: 55px;
   font-size: 18px;
   opacity: 0.7;
   font-weight: 400;
}
.why-web-development-container p span{
  margin-left: 250px;
}
.why-web-development-tittle{
    width: 910px;
    height: 310px;
    
    margin-top: 40px;
    
}
.why-web-development-tittle-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 844px;
    height: 250px;
    margin: 30px;
}
.why-web-development-tittle-content-1{
   
    padding-top: 15px;
   
    
}
.why-web-development-tittle-content-1 h1{
    color: rgba(13, 19, 33, 0.7);
}
.why-web-development-tittle-content-1 p{
   padding-top: 30px;
   font-size: 17px;
   color: #0D1321;
   opacity: 0.7;
}
.why-web-development-tittle-content-1 p1{
    border: 2PX solid black;
    padding: 10px;
    width: 148px;
    height: 65px;
    font-size: 20px;
    opacity: 0.7;
}


.why-web-development-subtittle{
    width: 910px;
    height: 310px;
   
    margin-top: 40px;
}
.why-web-development-subtittle-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 844px;
    height: 250px;
    margin: 30px;
}


.why-web-development-subtittle-container-1{
   
    padding-top: 20px;
    padding-left: 15px;
}
.why-web-development-subtittle-container-1 h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 26px;
}
.why-web-development-subtittle-container-1  p{
    padding-top: 30px;
   font-size: 16px;
   color: #0D1321;
   opacity: 0.7;
}
.why-web-development-subtittle-container-1  p1{
    border: 2PX solid black;
    padding: 10px;
    width: 148px;
    height: 65px;
    font-size: 20px;
    opacity: 0.7;
}
.why-web-development-content{
    width: 910px;
    height: 310px;
    
    margin-top: 40px;
}

.why-web-development-content-container{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 844px;
    height: 250px;
    margin: 30px
}

    

.why-web-development-content-container-holy h1{
    color: rgba(13, 19, 33, 0.7);
    padding-top: 10px;
}
.why-web-development-content-container-holy p{
    padding-top: 30px;
    font-size: 17px;
    color: #0D1321;
    opacity: 0.7;
}
.why-web-development-content-container-holy p1{
    border: 2PX solid black;
    padding: 10px;
    width: 148px;
    height: 65px;
    font-size: 20px;
    opacity: 0.7;
}
.my-inspiratio{
    width: 1080px;
    height: 720px;
   
    margin: 0 auto;
    margin-top: 50px;
}
.my-inspiration-section{
    
    width: 1080px;
    height: 125px;
}
.my-inspiration-section h1{
    padding-left:400px;
    font-size: 30px;
    padding-top: 10px;
    color: #0D1321;
    padding-bottom: 10px;

}
.my-inspiration-section p{
    padding-left: 225px;
    padding-top: 10px;
    font-size: 20px;
    color: #0D1321;
    opacity: 0.7;
    

}
span{
   margin-left: 120px ;
   margin-bottom: 30px;
}

iframe{
    height: 550px;
    width: 1015px;
   
    
   
    border: 1px solid black;
    border-radius: 15px;
    
} 
.my-inspiration-contain{
    height: 585px;
    width: 1060px;
    display: flex;
    
    justify-content: center;
align-items:center ;
border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 15px;
}
.my-current-target{
    width: 1080px;
    height: 450px;
    
    margin: 0 auto;
    margin-top: 70px;
}
.my-current-target-section{
    width: 1080px;
    height: 120px;
    
}
.my-current-target-section h1{
   padding-top: 15px;
   padding-left: 405px;
   font-size: 30px;
}
.my-current-target-section p{
    padding-left: 260px;
    padding-top: 20px;
    font-size: 19px;
    color: #0D1321;
    opacity: 0.7;
}
span{
    margin-left: 110px;
}
.my-current-target-container{
    width: 1080px;
    height: 285px;
   
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   
}
.my-current-target-container-tittle{
    width: 340px;
    height: 280px;
   
    background: rgba(255, 76, 30, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.my-current-target-container-tittle-image{
    width: 290px;
    height: 225px;
    border: 2px solid rgb(253, 251, 251);   
}

.my-current-target-container-tittle-image h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
margin-top: 30px;
}
.my-current-target-container-tittle-image p{
    margin-top: 10px;
    opacity: 0.7;
}
.my-current-target-container-subtittle-text h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-top: 30px;  
}
.my-current-target-container-subtittle-text p{
    margin-top: 10px;
    opacity: 0.7;
}
.my-current-target-container-content-text h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
margin-top: 30px;
}

.my-current-target-container-content-text p{
    margin-top: 10px;
    opacity: 0.7;
}

a{
    font-size: 16px;
    color: black;
    
}
.my-current-target-container-subtitle{
    width: 340px;
    height: 280px;
    border: 2px solid rgb(248, 243, 243);
    background: rgba(0, 76, 232, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.my-current-target-container-subtittle-text{
    width: 290px;
    height: 225px;
    
   
}

.my-current-target-container-content{
    width: 340px;
    height: 280px;
    border: 2px solid rgb(248, 244, 244);
    background: rgba(0, 76, 232, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.my-current-target-container-content-text{
    width: 290px;
    height: 225px;
    
    
}

.support{
    width: 1080px;
    height: 512px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 60px;
    background-image: url('../assets/handshake.jpg');
    background-size: cover;
    background-color: rgb(0,0,0,0.4);
    background-blend-mode: overlay;
    border-radius: 10px;
}

.support-content{
   
    width: 960px;
    height: 340px;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 85px;

}
.support-content-text {
    width: 760px;
    height: 250px;
    
    
   
}
.support-content-text h1{
    margin-left: 230px;
    font-size: 40px;
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
margin-bottom: 10px;
}
.support-content-text p{
    margin-left: 20px;
    font-size: 17px;
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 17px;
font-weight: 400;
opacity: 0.7;

}
 input{
    width: 538px;
height: 60px;
padding: 20px;

margin-top: 50px;
font-size: 20px;
margin-left: 30px;
border-radius: 8px;
}
 button{
    width: 150px;
    height: 60px; 
     padding: 20px;
   
    font-size: 17px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    
    color: rgb(13, 19, 33);

}  
.footer{
    width: 1340px;
    height: 120px;
    border: 1px solid rgb(248, 239, 239);
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
}
.footer-section{
    width: 1080px;
    height: 60px;
    /* border: 2px solid black; */
    margin: 30px;
    margin-left: 138px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.footer-image h3{
    color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
}
.footer-image img{
    padding: 7px;
}
span{
    margin-left:330px;
}